body {
    color: black; /* cor do texto */
    background: white; /* cor da página */
    align-items: center;
    display: flex;
    font-family: 'Arial Black', Gadget, sans-serif; 
    font-weight: bold; 
}


.caixa {

 background: black;
 align-items: center;
 display: flex;


}
